/* basket.module.css */

.basket_title{
    text-align: center;
    color: blueviolet;
    font-size: 50px;
    padding: 40px 0px;
}
.basket_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.basket_items{
    flex: 0 0 33.333%;
}
.basket_img{
    width: 300px;
    height: 500px;
    object-fit: cover;
}
.buy{
    color: white;
    background-color: #FF084E;
    border: 1px solid #FF084E;
    padding: 10px 20px;
}